body {
  font-family: sans-serif;
  font-size: small;
  line-height: 1.4;
  width: 90%;
  margin: 40px auto;

}

.product {
  border: 3px solid black;
  position: relative;

}

.product .product-title {
  font-size: 22px;
  background-color: #f1f1f1;
  text-transform: uppercase;
  text-align: center;
}

.price {
  font-size: large;

}

.shipping {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
}

.more-info:link, .more-info:visited {
  text-decoration: underline;
  color: black;
  display: inline-block;
}



/* remove underline on hover */
.more-info:link:hover, .more-info:active{
  text-decoration: none;
}


.product li {
  list-style-type: square;
}

/* format button as black */
.product button {
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  font-size: large;
  text-transform: uppercase;
  cursor: pointer;
}

/* format button as white on hover */
.product button:hover {
  background-color: white;
  color: black;
}

.product mark {
  background-color: red;
  padding: 5px;
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: -20px;
}
