body {
  font-family: sans-serif;
  color: #333;
}

h1, h2, h3 {
  color: #1088ad;
}

h1 {

  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

.related-posts ul {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  padding: 1em;
  border-top: 5px  solid #1088ad;
  border-bottom: 5px  solid #1088ad;
}

a:link {
  color: #1088ad;
  text-decoration: none;
}

a:visited {
  color: #1088ad;
}

a:hover {
  text-decoration: underline;
}
